.hero{
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    top: 300px;
    width: 100vw;
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-family: 'Source Sans Pro', sans-serif;
        letter-spacing: 0.05em;
        color: $bg-color;
        text-align: center;
    }
    h1::first-letter{
        color: $primary-color;
        font-size: 150%;
        letter-spacing: -0.05em;
    }
    p{
        margin-top: 0;
        font-weight: bold;
        color: $bg-color;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
    }
    .type-writer{
        display: flex;
    }
    .line{
        background-color: rgba(40, 133, 156, 1);
        margin-top: .3em;
        margin-left: 2px;
        height: 1em;
        width: 3px;
        animation: 1s lineAnim 3s infinite;
    }
    
}

@keyframes lineAnim{
    0%{
        background-color: rgba(40, 133, 156, 1);
    }
    50%{
        background-color: rgba(40, 133, 156, 0);
    }
    100%{
        background-color: rgba(40, 133, 156, 1);
    }
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 250%;
    }
}

