@import "./styles/variables";
@import "./styles/nav.scss";
@import "./styles/other/BgSprite.scss";
@import "./styles/hero.scss";
@import "./styles/other/SectionPicker.scss";
@import "./styles/sections/about/about.scss";
@import "./styles/sections/about/aboutcard.scss";

*{
  box-sizing: border-box;
}

body{
  background-color: white;
  display:flex;
  justify-content: center;
  overflow-x: hidden;
  color: black;
}
