.bgSprite{
    width: 1920px;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: calc(50vw - 960px);
}

@media screen and (max-width: 600px) {
    .bgSprite{
        display: none;
    }
}

